<nav class="nav-bars">
    <div class="d-flex justify-content-between">
        <img src="assets/svg/Logo.svg">
        <!-- <a class="btns-navbar" [routerLink]="['/signup']" title="signup" >Don't have an account? Register now </a> -->
    </div> 
</nav>
<div class="container h-100">
    <div class="m-class">
            <div class="row mt-4">
                <div class="col-md-12 text-center mt-4">
                    <!-- <table>
                        <tr> -->
                            <!-- <td valign="top" width="60"> <i class="fa fa-check fa-3x" style="color:#72CC00;font-weight: 100;"></i></td> -->
                            <!-- <td class="text-center"> -->
                                <h4 > Page Under Construction </h4>
                                <a [routerLink]="['/']" ><input type="button" class="std-button std-button--primary u-margin-bottom-small" value="Log in" ></a>
                            <!-- </td> -->
                        <!-- </tr>
                    </table> -->
                </div>
            </div>           
         </div>
</div>
