<ul class="resnt-menu-top-tabs u-margin-bottom-medium" >
    <li class="resnt-menu-top-tabs__item">
        <button class="resnt-menu-top-tabs__button tabs-menu" routerLink="./profile"
            routerLinkActive="resnt-menu-top-tabs__button__active">
            Store profile
        </button>
    </li>
    <li class="resnt-menu-top-tabs__item">
        <button class="resnt-menu-top-tabs__button tabs-menu" routerLink="./opening-hours"
            routerLinkActive="resnt-menu-top-tabs__button__active">
            Opening hours
        </button>
    </li>
    <li class="resnt-menu-top-tabs__item" *ngIf="isOwner">
        <button class="resnt-menu-top-tabs__button tabs-menu" routerLink="./bank"
            routerLinkActive="resnt-menu-top-tabs__button__active">
            Bank details
        </button>
    </li>
    <li class="resnt-menu-top-tabs__item" *ngIf="isOwner">
        <button class="resnt-menu-top-tabs__button tabs-menu" routerLink="./ownership"
            routerLinkActive="resnt-menu-top-tabs__button__active">
            Ownership
        </button>
    </li>
</ul>
<section class="resnt-menu-tabs-content">
    <router-outlet></router-outlet>
</section>
