.signin-card {
    margin: 0 auto 25px;     
    max-width: 440px;
    padding-top: 56px;
}
#pswd_info {
    position:absolute;
    bottom: 85px;
    // bottom: -115px\9; /* IE Specific */
    right:0;
    width:341px;
    padding:16px;
    border-radius:5px;
    background: #FAFAFA;
    z-index: 1;
    box-shadow:0 1px 3px #FAFAFA;
  }
  #pswd_info::before {
    content: "\25BC";
    position:absolute;
    bottom:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#FAFAFA;
    text-shadow:none;
    display:block;
  }
  .invalid {
    background:url('/assets/images/ico_close_red.png') no-repeat 0 50%;
    padding-left:24px;
    line-height:24px;
    // color:#ec3f41;
  }
  .valid {
    background:url('/assets/images/ico_check.png') no-repeat 0 50%;
    padding-left:24px;
    line-height:24px;
    // color:#3a7d34;
  }
  #pswd_info {
    display:none;
  }
  .list-type li {
    list-style-type:none;
  }
  .list-type {
    margin-bottom: 6px !important;
  }
  .popup-header {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #1A1A1A;
    margin-bottom: 6px;
  }
  .sub-content {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #1A1A1A;
    margin-bottom: 8px;
  }
  .pwd-description {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #808080;
    margin-bottom: 0 !important;
  }
  input.custom-password-eye {
    padding-right:30px;
  }
  .field-icon-reset {
    position: absolute;
    cursor: pointer;
    top:45px;
    right:25px;
    z-index: 1;
    color:#B3B3B3;
  }
  .field-icon-reset2 {
    position: absolute;
    cursor: pointer;
    top:45px;
    right:25px;
    z-index: 1;
    color:#B3B3B3;
  }