<nav class="nav-bars">
    <div class="row">
        <div class="col-auto mr-auto"><img src="assets/svg/Logo.svg"></div>
        <div class="col-auto"><a class="btns-navbar" [routerLink]="['/signup']" title="signup" > Don't have an account? Sign up now </a></div>
    </div>
</nav>
<div class="container">
    <div class="signin-card">
        <div class="forgot-header" style="margin-bottom: 40px;"> 
            Enter a new password
        </div>
        <p class="paragraph">
            Must be at least 8 characters. Strong passwords use a mix of UPPER and lower case letters, numbers and symbols.
        </p>
        <form [formGroup]="resetpasswordForm" (ngSubmit)="onsubmitresetForm()">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group--margin">
                        <label class="label-inputs"> New password </label>
                        <input class="form-control form-input password-content" id="password" type="password" formControlName="newpassword" [ngClass]="{ 'is-invalid':newpasswordSubmit && f.newpassword.errors }" placeholder="Enter new password">
                        <span toggle="#password" class="fa fa-eye-slash field-icon-reset toggle-password"></span>
                        <div *ngIf="newpasswordSubmit && f.newpassword.errors" class="error-mez">
                            <div *ngIf="f.newpassword.errors.required">Please enter password</div>
                            <div *ngIf="f.newpassword.errors.minlength">Password must be at least 8 characters</div>
                            <div *ngIf="f.newpassword.errors?.invalidPassword">
                               Valid password must be 8 or more characters, lowercase & Uppercase letter
                           </div>
                        </div>
                        <!-- <div id="pswd_info">
                            <div class="popup-header"> Password must contain: </div>
                            <ul class="list-type">
                                <li id="length" class="invalid sub-content"> 8 characters </li>
                                <li id="small" class="invalid sub-content"> Lowercase letter </li>
                                <li id="capital" class="invalid sub-content"> Uppercase letter </li>
                            </ul>
                            <p class="pwd-description"> Strong passwords are longer, avoid words or sequences, 
                                and mix random letters, numbers and symbols.
                            </p>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group form-group--margin">
                        <label class="label-inputs"> Confirm new password </label>
                        <input class="form-control form-input" type="password" formControlName="confirmpassword" id="confirmpassword" [ngClass]="{ 'is-invalid':confirmpasswordSubmit && f.confirmpassword.errors }" placeholder="Confirm new  password">
                        <span toggle="#confirmpassword" class="fa fa-eye-slash field-icon-reset2 toggle-password"></span>
                        <div *ngIf="confirmpasswordSubmit && f.confirmpassword.errors" class="error-mez">
                            <div *ngIf="f.confirmpassword.errors.required">Please enter confirm password</div>
                            <div *ngIf="f.confirmpassword.errors.mustMatch">Password must match</div>
                          </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" class="btn std-button std-button--primary" value="Submit" >
                    </div>
                </div>
            </div> 
        </form>   
    </div>
</div>

