<h3 class="u-margin-bottom-small std-heading-3"> Shells </h3>

<div class="row">
    <div class="col-md-5">
        <pagination-data [source]="paginationSource" (data)="handleData($event)" style="display: none;">
        </pagination-data>
        <!-- <search-query-generator termName="name" typeName="status" [types]="['Claimed', 'Unclaimed']" #queryGen>
        </search-query-generator> -->
        <admin-store-filter termName="name" typeName="status" [types]="['Claimed', 'Unclaimed']">
        </admin-store-filter>
    </div>

    <div class="col-md-3 mb-2">
        <app-file-upload loadingPlaceholder [loadStatus]="importComplete" [validators]="csvFileValidators"
            [accept]="validFileFormats" validFileFormats (file)="handleFileUpload($event)"
            (error)="handleFileError($event)">
            <a type="button" class="btn std-button std-button--transparency1" style="color:var(--color-primary)"> <img src="assets/images/ico_upload.png">
                &nbsp; Import via CSV </a>
        </app-file-upload>
    </div>
    <div class="col-md-3 mb-2 pd-mq">
        <a routerLink="/store/step1/create" type="button" class="btn std-button std-button--blue"> <img
                src="assets/images/ico_add.png"> &nbsp; Add Store Shell </a>
    </div>
    <div class="col-md-3">
        <shell-staff-filter></shell-staff-filter>
    </div>
    <div class="col-md-12" loadingPlaceholder [loadStatus]="stores">
        <div class="table-responsive">
            <table class="table table-border table-color" style="margin-top:24px;">
                <thead>
                    <tr>
                        <th> Sl. No </th>
                        <th> Store name </th>
                        <th> Status </th>
                        <ng-container *ngIf="isAdmin">
                            <th> Name </th>
                            <th> Date </th>
                        </ng-container>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="stores && stores.length == 0">
                        <td colspan="6" class="text-center">{{searchTerm? 'No match found' :'No stores have been added'}}</td>
                    </tr>
                    <tr class="text-capitalize" *ngFor="let store of stores; let i = index">
                        <td> {{paginationData.from + i}} </td>
                        <td class="table-name" [routerLink]="'../../../../../stores/'+store.store_id+'/profile'"> {{store.store_name}} </td>
                        <td>{{store.status}}</td>
                        <ng-container *ngIf="isAdmin">
                            <td>{{store.first_name + ' ' + store.last_name}}</td>
                            <td>{{store.date}}</td>
                        </ng-container>
                        <td style="text-align: right;cursor:pointer;outline: none;">
                            <div class="dropdown">
                                <img src="assets/images/ico_overflow.png" class="dropdown-toggle" data-toggle="dropdown"
                                    title="Options" style="cursor:pointer;padding:2px 6px;">
                                <ul class="dropdown-menu dropdown-edit dropdown-menu-right" >
                                    <li class="herf-class" title="Edit" *ngIf="isAdmin"
                                        [routerLink]="'../../../../../stores/'+store.store_id+'/profile'">
                                        <img src="assets/images/ico_edit.png">&nbsp;&nbsp;
                                        Edit
                                    </li>
                                    <li title="Delete" class="herf-class" (click)="deleteStore(i)">
                                        <img src="assets/images/ico_delete_black.png">&nbsp;&nbsp;
                                        Delete
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12" *ngIf="stores?.length > 0 ">
        <hr style="margin-top:30px;">
        <div class="main">
        <pagination-page-selector [paginationData]="paginationData"></pagination-page-selector>
        <items-per-page [options]="['100','200','300','400','500']"></items-per-page>
        </div>
    </div>
</div>
<br><br>