<router-outlet></router-outlet>

<ng-template #sideBarLinks let-store>
    <ul class="sidenav__list">
        <li class="sidenav__link sidenav--hover" [routerLink]="['/dashboard']"
            style="box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);">
            <img class="sidenav__link__img sidenav__link__img--hover-back" style="cursor: pointer;outline: none;"
                src="assets/images/arrow-left.png"><span class="capital std-heading-5">
                {{store.name}} </span>
        </li>
        <li class="sidenav__link sidenav--hover color-primary"
            style="border-bottom: 1px solid var(--color-lines-primary);" title="Add store shell" routerLink="./approval"
            routerLinkActive="sidenav__link--active"> <img class="sidenav__link__img"
                src="assets/images/ico_alert.png">
            <span> Pending Approval </span>
        </li>
        <li class="sidenav__link sidenav--hover color-primary"
            style="border-bottom: 1px solid var(--color-lines-primary);" title="Add store shell" routerLink="./profile"
            routerLinkActive="sidenav__link--active">
            <img class="sidenav__link__img" src="assets/images/ico_restaurant.png">
            <span> Store Profile </span>
        </li>
        <li class="sidenav__link sidenav--hover color-primary"
            style="border-bottom: 1px solid var(--color-lines-primary);" title="Add store shell">
            <img class="sidenav__link__img" src="assets/images/ico_book.png">
            <span> Menu </span>
        </li>
    </ul>
</ng-template>