<!-- <ng-container *ngIf="(activeStore | async) as store">
    <div class="pending-tab" *ngIf="store.isActive && displayBanner">
        <table>
            <tr>
                <td valign="top"> <img src="assets/images/ico_alert.png"> </td>
                <td style="padding-left: 18px;">
                    Pending approval -
                    <span> {{store.name}} </span> <span
                        class="norml-text-class">Before you start trading we need to review your application. We will be in
                        touch shortly. </span>
                </td>
                <td (click)="displayBanner = !displayBanner" valign="top" style="padding-left: 18px;cursor: pointer;" title="hide">
                    <img src="assets/images/ico_close.png">
                </td>
            </tr>
        </table>
    </div>
</ng-container> -->

<router-outlet></router-outlet>

<ng-template let-store #sideBarLinks>
    <ul appSideNavClick class="sidenav__list">
        <li class="sidenav__link sidenav--hover" [routerLink]="['/dashboard']"
            style="box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);">
            <img class="sidenav__link__img sidenav__link__img--hover-back" style="cursor: pointer;outline: none;"
                src="assets/images/arrow-left.png"><span class="std-heading-5 text-capitalize">
                {{store.name}} </span>
        </li>
        <li appSideNavClick class="sidenav__item">
            <a class="sidenav__link sidenav--hover" [routerLink]="['./menu']" style="text-decoration: none;"
                routerLinkActive="sidenav__link--active"><img class="sidenav__link__img"
                    src="assets/images/ico_book.png"><span class="color-primary"> Menu
                </span></a>
        </li>
        <li appSideNavClick class="sidenav__item">
            <a class="sidenav__link sidenav--hover" [routerLink]="['./orders/all-orders']" style="text-decoration: none;"
                routerLinkActive="sidenav__link--active"><img class="sidenav__link__img"
                    src="assets/images/orders/orders.svg"><span class="color-primary">Orders
                    </span></a>
        </li>
        <li appSideNavClick class="sidenav__item">
            <a class="sidenav__link sidenav--hover" [routerLink]="['./profile']" style="text-decoration: none;"
                routerLinkActive="sidenav__link--active"><img class="sidenav__link__img"
                    src="assets/images/ico_restaurant.png"><span class="color-primary">Store
                    profile</span></a>
        </li>
        <li appSideNavClick class="sidenav__item">
            <a class="sidenav__link sidenav--hover" [routerLink]="['./member']" style="text-decoration: none;" 
                routerLinkActive="sidenav__link--active"><img class="sidenav__link__img"
                    src="assets/images/ico_members.png"><span class="color-primary">
                    Members</span></a>
        </li>
        <!-- <li appSideNavClick class="sidenav__item">
            <a class="sidenav__link sidenav--hover" [routerLink]="['./account']" style="text-decoration: none;" 
                routerLinkActive="sidenav__link--active"><img class="sidenav__link__img"
                    src="assets/images/ico_members.png"><span class="color-primary">
                    Account</span></a>
        </li> -->
    </ul>
</ng-template>