<nav class="nav-bars">
    <div class="row">
        <div class="col-auto mr-auto"><img src="assets/svg/Logo.svg"></div>
        <div class="col-auto"><a class="btns-navbar" [routerLink]="" (click)="navigateToSignUp()" title="signup" >Don't have an account? Sign up now </a></div>
    </div>
</nav>
<div class="container">
    <div class="signin-card">
        <div class="login-header"> 
            menuzapp restaurant login
        </div>
        <form class="user" id="Login" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group--margin">
                        <input class="form-control form-input" [(ngModel)]="email" email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"  placeholder="Email" type="email" required id="email" name="email" #useremail="ngModel">
                        <div class="error-mez"  *ngIf="useremail.invalid && email_error">
                            <p *ngIf="useremail?.errors?.required" class="error-mez">
                              Email is required
                            </p>
                            <p *ngIf="useremail?.errors?.pattern" class="error-mez">
                              Email is invalid
                            </p>
                          </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group form-group--margin">
                        <input class="form-control form-input custom-password-eye" required [(ngModel)]="password" placeholder="Password" type="password" id="password" name="password" #userpassword="ngModel">
                    <span toggle="#password" class="fa fa-eye-slash field-icon toggle-password"></span>
                    <p *ngIf="userpassword.invalid && password_error" class="error-mez"> Password is required </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" class="btn std-button std-button--blue" value="Log in" >
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center default">
                        <a class="default-text" [routerLink]="['/forgot-password']" title="Forgot password" >Forgot password</a>
                    </div>
                    <div class="text-center mtop">
                        <a class="default-text"  [routerLink]="" (click)="navigateToSignUp()" title="signup" >Create an account</a>
                    </div>
                </div>
            </div> 
        </form>   
    </div>
</div>
