<div protectUnsaved [changed]="shouldPreventNavigation()" class="row" style="margin-top:-24px;">
    <div class="col-md-12">
        <div class="float-right" style="margin-bottom:16px;">
            <button class="btn std-button std-button--transparency mr-sm-3" *ngIf="menuId" (click)="modalService.open(deleteComform, { centered: true, size: 'sm' });">Delete</button>
            <button class="btn std-button-active"  (click)="saveMenu()" appBtnIcon [valid]="menuName.valid" [loading]="submitting"><span #span>Save</span></button>
        </div>
    </div>
    <div class="col-md-12">
        <div class="input-container" style="margin-bottom:16px;">
            <img src="assets/images/ico_back.png" class="input-img mt-1" (click)="navigateBack()">
            <input focusOnLoad type="text" class="input-border input-palceholder" name="menu-name" [formControl]="menuName"
                placeholder="Enter a name for this menu">
            <span class="error-mez" *ngIf="menuName.invalid && menuName.touched" >Name of the menu is required</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" >
        <h3 class="std-heading-3" style="margin-top:56px;margin-bottom: 32px;"> Availability
            <img src="assets/images/ico_help.png"
            style="cursor:pointer" title="info" (click)="modalService.open(times, { centered: true });">
        </h3>
        <div class="small-header">
            When will this menu will be available?
        </div>
    </div>
    <div class="col-md-12">
        <div class="custom-radio mr-3">
            <input type="radio" id="duringCustom" value="0" [formControl]="openigHours" >
            <label class="custom-radio__label std-heading-4" for="duringCustom"> During opening hours </label>
        </div>
        <div class="custom-radio mr-3">
            <input type="radio" id="openingHour" value="1" [formControl]="openigHours" #customAvalability>
            <label class="custom-radio__label std-heading-4" for="openingHour"> Custom availability </label>
        </div>
    </div>
</div>
<ng-template #availabilitysHeading>
    <div class="row">
        <div class="col-md-12">
            <div class="std-heading-4" style="margin-top:64px;margin-bottom:32px;"> Custom availability </div>
            <p class="paragraph" style="margin-bottom:32px;"> Select <b>days</b> and <b>times</b> above and press <b>add time</b> to add
                availability.
            </p>
        </div>
    </div>
</ng-template>
<div *ngIf="customAvalability.checked" >
    <time-availability-editor (onChange)="availability = $event" [availability]="availability" [headingTempalte]="availabilitysHeading" #availabilityEditor></time-availability-editor>
    <p *ngIf="availability.length == 0 && availabilityEditor && availabilityEditor.touched" class="error-mez">Please provide atleast one availability</p>
</div>
<!-- Info modal -->
<ng-template #content let-modal>
    <div class="modal-header header-info">
        <div class="std-heading-5 std-heading-5--popheader"> Availability </div>
        <button type="button" class="close info-q" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true"><img src="assets/images/x.png"></span>
        </button>
    </div>
    <div class="modal-body">
        <p class="paragraph">
            To specify the days and times this item is available,simply select 1 or more <b>days</b>, a <b>start
                time</b> and an <b>end time</b>, and then press the <b>add time</b> button.
        </p>
        <p class="paragraph">
            Outside of the time periods entered here, customers will be able to browse but not purchase from the menu.
            Select <b>mark as closed</b> to temporarily close a specific time period.
        </p>
    </div>
</ng-template>
<!-- Info modal end-->

<ng-template #deleteComform let-modal>
    <div class="modal-body text-center">
        <h5 class="std-heading-5 mb-2"> Delete menu </h5>
      <p class="mb-2"> 
          Are you sure? 
      </p>
      <button class="std-button std-button--plane" (click)="deleteMenu(); modal.dismiss('Cross click')"> Delete </button>
      <hr style="margin:0">
      <button class="std-button std-button--plane" (click)="modal.dismiss('Cross click')"> Cancel </button>
    </div>
</ng-template>

<!-- back save continue -->
<ng-template #back let-modal2>
    <div class="modal-body text-center">
        <h5 class="std-heading-5 mb-2"> Unsaved changes </h5>
      <p class="mb-2 paragraph"> 
          If you continue you will lose any unsaved progress
      </p>
      <button class="std-button std-button--plane" (click)="navigateBack(); modal2.dismiss('Cross click')"> Continue </button>
      <hr style="margin:0">
      <button class="std-button std-button--plane" (click)="modal2.dismiss('Cross click')"> Cancel </button>
    </div>
</ng-template>
<!-- back save continue end-->
<!-- Info modal -->
<ng-template #times let-modal>
    <div class="modal-header header-info">
        <div class="std-heading-4 std-heading-5--popheader"> Availability </div>
        <button type="button" class="close info-q" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true"><img src="assets/images/x.png"></span>
        </button>
    </div>
    <div class="modal-body">
        <p class="paragraph">
            Select <b>during opening hours</b> to offer an all day menu and match your current
            store opening hours.
        </p>
        <p class="paragraph">
            Alternatively, select <b>custom availability</b> to set specific times for this menu. To
            specify the days and times this item is available, simply select 1 or more <b>days</b>, a
            <b>start time</b> and an <b>end time,</b> and then press the <b>add time</b>button.
        </p>
        <p class="paragraph">
            Outside of the time periods entered here, customers will be able to browse but
            not purchase from the menu. Select <b>mark as closed</b> to temporarily close a
            specific time period.
        </p>
    </div>
</ng-template>
<!-- Info modal end-->