.comman{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
}
.main .container .row{
    .top{
        margin-top:40px;
        padding-top:56px
    }
   .col-md-6{
 

    .std-32{
        @extend .comman;
        font-size: 32px;
        line-height: 40px;
      //  padding-top:96px;
      margin-bottom: 40px;
        width:93%;
       }
   
    .std-button--primary{margin-top:8px}
    .std-heading-4{margin-top:80px;margin-bottom: 40px;}
    .t24{    margin-top: 24px;}
    .transparentbtn{margin-right:16px;}
  .std-button{padding:10px 16px}
.form-input{
    padding: 8px 16px 8px 16px;
}
 }
}
