<ng-template #menusLoading>
    <processing-placeholder></processing-placeholder>
</ng-template>

<!-- create category -->
<div class="row" protectUnsaved [changed]="shouldPreventNavigation()" [formGroup]="createCatForm" style="margin-top:-24px;">
    <div class="col-md-12">
        <div *ngIf="categoryId && !categoryContentLoaded">
            <processing-placeholder></processing-placeholder>
        </div>
        <div class="float-right">
            <button class="btn std-button std-button--transparency" *ngIf="categoryId"
                (click)="openVerticallyCentered(deleteComform)" style="color:var(   --color-failure)"> Delete </button>
            <button appBtnIcon [valid]="createCatForm.valid" [loading]="saveBtnLoading" class="btn std-button-active"
                style="margin-left:10px" (click)="saveData()"><span #span>Save</span> </button>
        </div>
    </div>
    <div class="col-md-12">
        <div class="input-container">
            <!-- <img src="assets/images/ico_back.png" class="input-img mt-1"
                (click)="createCatForm.dirty ? pagebackPopup(back) : navigateBack()"> -->
            <img src="assets/images/ico_back.png" class="input-img mt-1"
                (click)="navigateBack()">
            <input focusOnLoad type="text" class="input-border input-palceholder" formControlName="categoryName"
                placeholder="Enter a name for this category">
            <span class="error-mez"
                *ngIf="createCatForm.controls.categoryName.invalid && createCatForm.controls.categoryName.touched">Category
                name is required.</span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h4 class="std-heading-4" style="margin-top:56px;margin-bottom:32px;"> Menus <img
                        src="assets/images/ico_help.png" style="cursor:pointer" title="info"
                        (click)="openVerticallyCentered(content)"></h4>
            </div>
        </div>
        <div class="label-inputs"> Menus this category will appear in: </div>

        <div loadingPlaceholder [loadStatus]=menuIdMap>
            <div *ngIf="menuIdMap">
                <div *ngIf="menuIdMap.length > 0; else noMenus" formArrayName="menus" class="menu-creator__days mb-3"
                    (click)="createCatForm.controls.menus.markAsTouched({onlySelf: true});">
                    <div class="custom-checkbox mr-2" *ngFor="let control of menusForm(); let i = index;">
                        <input type="checkbox" [id]="i" [formControlName]="i">
                        <label class="custom-checkbox__label std-heading-4  text-capitalize"
                            [for]="i">{{menuIdMap[i].name}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="error-mez" *ngIf="createCatForm.controls.menus.invalid && createCatForm.controls.menus.touched">
            Atleast one menu should be selected</div>
    </div>
</div>

<ng-template #noMenus>
    <p style="color: var(--color-failure);">You do not have any menus created</p>
</ng-template>
<!-- end create category -->

<!-- Info modal -->
<ng-template #content let-modal>
    <div class="modal-header header-info">
        <div class="std-heading-5 std-heading-5--popheader"> Menus </div>
        <button type="button" class="close info-q" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true"><img src="assets/images/x.png"></span>
        </button>
    </div>
    <div class="modal-body">
        <p class="paragraph"> Categories may appear in multiple menus. To arrange the order that categories appear in
            the app,
            visit the <b>Overview</b> tab.
        </p>
    </div>
</ng-template>
<!-- Info modal end-->

<!-- back save continue -->
<ng-template #back let-modal2>
    <div class="modal-body text-center">
        <h5 class="std-heading-5 mb-2"> Unsaved changes </h5>
        <p class="mb-2 paragraph">
            If you continue you will lose any unsaved progress
        </p>
        <button class="std-button std-button--plane" (click)="navigateBack(); modal2.dismiss('Cross click')"> Continue
        </button>
        <hr style="margin:0">
        <button class="std-button std-button--plane" (click)="modal2.dismiss('Cross click')"> Cancel </button>
    </div>
</ng-template>
<!-- back save continue end-->

<ng-template #deleteComform let-modal3>
    <div class="modal-body text-center">
        <h5 class="std-heading-5 mb-2"> Delete category </h5>
        <p class="mb-2 paragraph">
            Are you sure?
        </p>
        <button class="std-button std-button--plane" (click)="deleteData(); modal3.dismiss('Cross click')"> Continue
        </button>
        <hr style="margin:0">
        <button class="std-button std-button--plane" (click)="modal3.dismiss('Cross click')"> Cancel </button>
    </div>
</ng-template>