<nav class="nav-bars">
    <div class="row">
        <div class="col-auto mr-auto"><img src="assets/svg/Logo.svg"></div>
    </div>
</nav>
<div class="main ">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
          
            <div class="col-md-6">
                <p class="std-32 ">Create a password</p>
                <p class="std-14 ">jane.barramundi@thelambshop.com.au</p>
                <div class="form-group form-group--margin">
                    <div class="form-group  ">
                       
                        <input type="password" id="password" class="form-control form-input custom-password-eye"  formControlName="password" placeholder="Enter a password " ><span toggle="#password" class="fa fa-eye-slash field-icon toggle-password"></span>
                        
                    </div>
                   
                </div>
                <button class="btn std-button std-button--transparency">Back</button>
                <button  class="btn std-button std-button--primary">continue</button>
            </div>
            <div class="col-md-2"></div>
           
        </div>
    </div>
</div> 