<!-- <nav style="height:56px;">
    <div class="navbar btn-pd justify-content-between">
        <a class="navbar-brand mt-1" style="font-size:24px;"><img style="widows: 169px;height:32px;" src="assets/svg/Logo.svg"></a>
        <div class="btn-names mt-2">
            <a style="text-decoration: none;color:#fff" [routerLink]="['/signup']" title="signup" >Don't have an account? Register now </a>
            <a style="text-decoration: none;color:#fff" [routerLink]="['/']" title="Login" >Already have an account? Login </a>       
        </div>
    </div>
</nav> -->
