<h3 class="u-margin-bottom-small std-heading-3">Menus
    <img src="assets/images/ico_help.png" style="cursor:pointer" title="info"
        (click)="modalService.open(content, { centered: true });">
</h3>
<div style="text-align: right;">
    <button class="btn std-button std-button--primary" routerLink="./new"><img
            src="assets/images/ico_add.png">&nbsp;&nbsp;New menu</button>
</div>
<ng-container *ngIf="menus.length <= 0">
    <h4 class="std-heading-4" style="margin-top:24px;margin-bottom: 32px;">Add your first menu</h4>
    <p class="paragraph">
        Here you can decide to create one menu for you entire store, or break it down into multiple menus such as
        breakfast, lunch and dinner. You can also specify the days and times each menu is available. Press <b>new
            menu</b>
        to begin.
    </p>
</ng-container>
<div class="row" *ngIf="menus.length > 0">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-border table-color" style="margin-top:24px;">
                <thead>
                    <tr>
                        <th> Name </th>
                        <th> Availability </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let menu of menus; let i = index">
                        <td [routerLink]="'./'+menu.id" title="Edit" class="table-name"> {{menu.name}} </td>
                        <td class="text-uppercase">
                            {{menu.availability[0]?.startTime}}&nbsp;-&nbsp;{{menu.availability[0]?.endTime}}{{menu.availability?.length > 1 ? ', +'+(menu.availability?.length-1).toString() : ""}}
                        </td>
                        <td style="text-align: right;outline: none;">
                            <div class="dropdown">
                                <img src="assets/images/ico_overflow.png" class="dropdown-toggle"
                                    data-toggle="dropdown" title="options" style="cursor:pointer;padding:2px 6px;">
                                <ul class="dropdown-menu dropdown-edit dropdown-menu-right">
                                    <li class="herf-class" [routerLink]="'./'+menu.id" title="Edit">
                                        <img src="assets/images/ico_edit.png">&nbsp;&nbsp;
                                        Edit
                                    </li>
                                    <li title="Delete" class="herf-class"
                                        (click)="modalService.open(deleteComform, { centered: true, size: 'sm' }); deletemenuIndex = i">
                                        <img src="assets/images/ico_delete_black.png">&nbsp;&nbsp;
                                        Delete
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #deleteComform let-modal3>
    <div class="modal-body text-center">
        <h4 class="std-heading-4 mb-2"> Delete menu "{{menus[deletemenuIndex].name}}" </h4>
        <p class="mb-2">
            Are you sure?
        </p>
        <button class="std-button std-button--plane" (click)="deleteMenu(); modal3.dismiss('Cross click')"> Delete
        </button>
        <hr style="margin:0;">
        <button class="std-button std-button--plane" (click)="modal3.dismiss('Cross click')"> Cancel </button>
    </div>
</ng-template>
<!-- Info modal -->
<ng-template #content let-modal>
    <div class="modal-header header-info">
        <div class="std-heading-4 std-heading-5--popheader"> Menus </div>
        <button type="button" class="close info-q" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true"><img src="assets/images/x.png"></span>
        </button>
    </div>
    <div class="modal-body">
        <p class="paragraph">
            Here you can decide to create one menu for you entire store, or break it down into multiple menus such
            as <b>breakfast, lunch</b> and <b>dinner.</b> You can also specify
            the <b>days</b> and <b>times</b> each menu is available.
        </p>
    </div>
</ng-template>
<!-- Info modal end-->

<router-outlet></router-outlet>