<div loadingPlaceholder [loadStatus]="approvalData">
    <h3>{{approvalStatus? 'Approved' : 'Pending approval'}}</h3>
    <div class="row" *ngIf="!isStaff">
        <div class="col-md-12">
            <div class="float-right" style="margin-bottom:16px;">
                <button class="btn std-button std-button--redtransparency" (click)="rejectStore()">
                    {{denialStatus ? 'Denyed' : 'Deny'}} </button>
                <button class="btn std-button std-button--green" style="margin-left:10px;" [disabled]="approvalStatus"
                    (click)="approveStore()"> <img src="assets/images/v.png" style="margin-right:10px"/>{{approvalStatus ? 'Approved' : 'Approve'}} </button>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="approvalData">
        <div class="col-md-12">
            <h4 class="std-heading-4 mr-t56-b32"> Proof of ownership </h4>
            <div class="std-heading-5" style="margin-bottom:16px;"> </div>
            <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> Legal owner name </div>
            <p class="paragraph"> {{approvalData.legal_owner_name}} </p>
        </div>
        <div class="col-md-12">
            <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> Legal business name </div>
            <p class="paragraph"> {{approvalData.legal_business_name}} </p>
        </div>
        <div class="col-md-12">
            <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> ABN or ACN (Australian Business or
                Company Number ) </div>
            <p class="paragraph"> {{approvalData.business_register_number}} </p>
        </div>
        <div class="col-md-12">
            <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> Email </div>
           <a href="mailto:abc@example.com" > {{approvalData.email}} </a>
        </div>
        <div class="col-md-12">
            <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> Mobile </div>
            <p class="paragraph"> {{approvalData.mobile_number}} </p>
        </div>
        <div class="col-md-12">
            <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> Certificate of registration </div>
            <a [href]="approvalData.certificate_of_registration" target="_blank"> {{approvalData.fileName}} </a>
        </div>
    </div>
</div>