<!-- <div class="pending-tab" *ngIf="!isActive" >
    <img src="assets/images/ico_alert.png">&nbsp;Pending approval - <span *ngIf="(storeSer.activeStore$ | async) as store"> {{store.name}} </span> <span class="norml-text-class">Before you start trading we need to review your application. We will be in touch shortly. 
    </span>
    <span style="float:right;color:#353FA8;font-size:16px;">
        Why am I seeing this? <span style="margin-left:20px;cursor: pointer;" (click)="hide()"> Hide </span>
    </span>
</div> -->
<!-- [ngClass]="isActive ? 't-class' : '' " -->
<ng-container *ngIf="(activeStore | async) as store">
    <div style="position: relative;">
        <div class="pending-tab" *ngIf="store.status == 'pending' && displayBanner">
            <table>
                <tr>
                    <td valign="top"> <img src="assets/images/ico_alert.png"> </td>
                    <td style="padding-left: 18px;">
                        Pending approval -
                        <span class="text-capitalize"> {{store.name}}.&nbsp;</span> <span
                            class="norml-text-class">Before you start trading we need to review your application. We will be in
                            touch shortly. </span>
                    </td>
                    <td (click)="displayBanner = !displayBanner" valign="top" style="cursor: pointer;padding-left: 30px;" title="hide">
                        <img src="assets/images/ico_close.png">
                    </td>
                </tr>
            </table>
        </div> 
    </div>
</ng-container>
<ng-container *ngIf="(activeStore | async) as store">
<section class="table-responsive"> 
    <ul class="resnt-menu-top-tabs u-margin-bottom-medium" [ngClass]="{'pending-tab-margin' : store.isActive && displayBanner}">
        <li class="resnt-menu-top-tabs__item">
            <button class="resnt-menu-top-tabs__button tabs-menu" routerLink="./overview"
                routerLinkActive="resnt-menu-top-tabs__button__active">Overview</button>
        </li>
        <li class="resnt-menu-top-tabs__item">
            <button class="resnt-menu-top-tabs__button tabs-menu" routerLink="./menus"
                routerLinkActive="resnt-menu-top-tabs__button__active">Menus</button>
        </li>
        <li class="resnt-menu-top-tabs__item">
            <button class="resnt-menu-top-tabs__button tabs-menu" routerLink="./categories"
                routerLinkActive="resnt-menu-top-tabs__button__active">
                Categories
            </button>
        </li>
        <li class="resnt-menu-top-tabs__item">
            <button class="resnt-menu-top-tabs__button tabs-menu" routerLink="./items"
                routerLinkActive="resnt-menu-top-tabs__button__active">
                Items
            </button>
        </li>
        <li class="resnt-menu-top-tabs__item">
            <button class="resnt-menu-top-tabs__button tabs-menu" routerLink="./modifier-groups"
                routerLinkActive="resnt-menu-top-tabs__button__active">
                Modifiers
            </button>
        </li>
    </ul>
</section>
<section class="resnt-menu-tabs-content">
    <router-outlet></router-outlet>
</section>
</ng-container>