.comman{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
}
.main{
    .container-one{
        .std-32{
            @extend .comman;
            font-size: 32px;
            line-height: 40px;
        }
        .ht56{
            margin-top: 56px;
        }
        .head-2{
            margin-top: 40px;
        }
        .head-3{
            @extend .comman;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 24px;
            margin-top: 24px;

        }
        .std-button--transparency{
            margin-right: 16px;
        }
        .std-heading-5{
            margin-bottom: 4px;
        }
        .image{
            margin-bottom: 16px;
            // height: 120px;
            // width: 120px;
            justify-content: space-between;
            margin-right: 24px;
        }
      
        .right{
            float: right;
        }
        .space{
          //  justify-content: space-between;
            display: flex;
            padding: 16px;
        }
        .image1{
            margin-top: 34px;
        }
        .select{
         
                background-color: var(--color-background-secondary);
                font-weight: 700;border:0;outline:0;padding: 8px 16px 8px 16px;height: 40px;
                width: 400px;
                left: 0px;
                top: 24px;
                border-radius: 0px;
       
        }
        .top16{
           // margin-top: 16px;
            padding:16px 16px 32px  16px;
        }
        
.std-button{
    padding:10px 16px;
}

    }
}
@media only screen and (max-width: 600px) {
    .main .container-one .select{
        width:200px
  }
  
   }
@media only screen and (min-width: 600px) {
    .main .container-one  .select{
        width:200px
  }
  
   }
@media only screen and (min-width: 992px) {
    .main .container-one  .select{
        width:375px;
  }
 
}
@media only screen and (min-width: 1200px) {
    .main .container-one .select{
          width:450px;
    }
   
  }