<nav class="nav-bars">
    <div class="row">
        <div class="col-auto mr-auto"><img src="assets/svg/Logo.svg"></div>
        
    </div>
</nav>
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-5">
                <p class="std-32">Thank you</p>
                <img src="assets/svg/ico_check_circle.svg">
                <p class="std-heading-4 head-4">Hi Jane, we will be in touch within 1-2 business days to complete your set up!</p>
                 <div class="t72">
                         <p class="std-heading-4 mb24">Order summary</p>
                       
                         <table>
                            <tr>
                                <td class="std-heading-5" >10x
                                </td>
                                <td class="std-heading-5" >
                                    Table QR code stickers 
                                 
                                </td>
                                <td class="table-colors" >
                                    Free
                                 
                                </td>
                            </tr>
                            <tr>
                                <td class="std-heading-5" >10x
                                </td>
                                <td class="std-heading-5" >
                                    Table QR code stickers 
                                 
                                </td>
                                <td class="table-colors" >
                                    Free
                                 
                                </td>
                            </tr>
                            <tr >
                                <td class="std-heading-5 padding" >Total paid
                                </td>
                                <td></td>
                                <td class="std-heading-3 padding" >
                                    $277.00
                                 
                                </td>
                                
                            </tr>
                        </table>
                     
                 </div>  
                 <div class="t72">
                    <p class="std-heading-4 ">Payment method</p>
                    <p class="table-colors">VISA **** **** **** </p>
                    <p class="std-heading-4 mt40">Billing address</p>
                    <p class="table-colors">100 Main Street <br> Woolamuurumbah Downs<br>Qld, 4123</p>
                    <p class="std-heading-4 mt40">Shipping address</p>
                    <p class="table-colors">100 Main Street <br> Woolamuurumbah Downs<br>Qld, 4123</p>
                </div> 
                         
                <button class="btn std-button std-button--primary t72">Back to menuzapp</button>
            </div>
            

        </div>
    </div>
 
</div>