<nav class="nav-bars">
    <div class="row">
        <div class="col-auto mr-auto"><img src="assets/svg/Logo.svg"></div>
    </div>
</nav>
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-7">
                <p class="std-32">Thank you</p>
                <img src="assets/svg/ico_check_circle.svg">
                <p class="std-heading-4 head-4">Hi Jane, we will be in touch within 1-2 business days to complete your set up!</p>
               <p class="std-heading-4 heading-4">What happens next?</p>
               <p class="table-colors">We will review your application and get in touch to help you get up and running.</p>
                <button class="btn std-button std-button--primary">Back to menuzapp</button>
            </div>
            

        </div>
    </div>
 
</div>