.comman{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
}
.main{
    .container{
        .std-32{
            @extend .comman;
            font-size: 32px;
            line-height: 40px;
            margin-top: 56px;
            margin-bottom: 75px;
        }
        .head-4{
            margin-top: 20px;
        }
        .heading-4{
            margin-top: 72px;
        }
        .std-button{
            padding:10px 16px;
        }
        .table-colors{
            margin-bottom: 72px;
        }
    }
}