<nav class="nav-bars">
    <div class="row">
        <div class="col-auto mr-auto"><img src="assets/svg/Logo.svg"></div>
        <div class="col-auto"><a class="btns-navbar" [routerLink]="['/signup']" title="signup" >Don't have an account? Sign up now </a></div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="forgot-pwd">
                <div class="forgot-header b40" style="margin-top:56px;"> Forgotten your password? </div>
                <p class="paragraph"> Enter your email address and we will send you a link to reset your password. </p>
                <form [formGroup]="forgotpasswordForm" (ngSubmit)="onsubmitforgotpasswordForm()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="label-inputs"> Email </label>
                                <input type="email" class="form-control form-input" formControlName="requestEmail" [ngClass]="{ 'is-invalid': emailSubmit && f.requestEmail.errors }">
                                <div *ngIf="emailSubmit && f.requestEmail.errors" class="error-mez">
                                    <div *ngIf="f.requestEmail.errors.required">Please enter email address </div>
                                    <div *ngIf="f.requestEmail.errors.pattern"> Please enter a valid email address </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row b32" style="margin-top:8px">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="submit" class="btn std-button std-button--blue" value="Send" >
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>