<nav class="nav-bars">
    <div class="row">
        <div class="col-auto mr-auto"><img src="assets/svg/Logo.svg"></div>
        <div class="col-auto"><a class="btns-navbar" [routerLink]="['/login']" title="Login" > Already have an account? Log in </a></div>
    </div>
</nav>
<div class="container h-100">
    <div class="row">
        <div class="col-md-12">
            <div class="forgot-pwd">
                <h1 class="form-header m-class">  Become a menuzapp restaurant partner </h1>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-12">
        <div class="forgot-pwd">
            <form [formGroup]="signupMenuzappform" (ngSubmit)="menuzappSignup()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-group--margin">
                            <label class="label-inputs"> First name <b class="m-star">*</b> </label>
                            <input type="text" class="form-control form-input" (keyup)="removeError('first_name')" placeholder="e.g. Buzz" formControlName="fname" [ngClass]="{ 'is-invalid': fnameSubmit && f.fname.errors }"
                            onkeypress="return event.charCode!=32">
                            <div *ngIf="fnameSubmit && f.fname.errors" class="error-mez">
                                <div *ngIf="f.fname.errors.required"> Please enter first name </div>
                            </div>
                            <div class="error-mez">
                                {{errors['first_name']}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group--margin">
                            <label class="label-inputs"> Last name <b class="m-star">*</b> </label>
                            <input type="text" class="form-control form-input"  (keyup)="removeError('last_name')" placeholder="e.g. Lightyear" formControlName="lname" [ngClass]="{ 'is-invalid': lnameSubmit && f.lname.errors }"
                            onkeypress="return event.charCode!=32">
                            <div *ngIf="lnameSubmit && f.lname.errors" class="error-mez">
                                <div *ngIf="f.lname.errors.required"> Please enter last name</div>
                            </div>
                            <div class="error-mez">
                                {{errors['last_name']}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-group--margin">
                            <label class="label-inputs"> Email <b class="m-star">*</b> </label>
                            <input type="email" class="form-control form-input"  (keyup)="removeError('email')" placeholder="e.g. name@domain.com" formControlName="signupemail" [ngClass]="{ 'is-invalid': emailSubmit && f.signupemail.errors }">
                            <div *ngIf="emailSubmit && f.signupemail.errors" class="error-mez">
                                <div *ngIf="f.signupemail.errors.required">Please enter email address </div>
                                <div *ngIf="f.signupemail.errors.email"> Please enter a valid email address </div>
                            </div>
                            <div class="error-mez">
                                {{errors['email']}}
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-group--margin">
                            <label class="label-inputs"> Mobile <b class="m-star">*</b> </label><br>
                            <telephone-input  formControlName="signupmobile"></telephone-input>
                            <!-- <input class="form-control form-input" placeholder="e.g. 0412345678" (keyup)="removeError('mobile_number')" formControlName="signupmobile" [ngClass]="{ 'is-invalid': mobileSubmit && f.signupmobile.errors }" minlength="10" maxlength="10" (keypress)="keyPress($event)" >-->
                            <div *ngIf="mobileSubmit && f.signupmobile.errors" class="error-mez">
                                <div *ngIf="f.signupmobile.errors.required"> Please enter mobile number </div>
                                <div *ngIf="f.signupmobile.errors.pattern"> Mobile number must be 10 digits</div>
                            </div>
                            <div class="error-mez">
                                {{errors['mobile_number']}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label-inputs"> Password <b class="m-star">*</b> </label>
                            <input type="password" id="password" class="form-control form-input custom-password-eye" (keyup)="removeError('password')" formControlName="password" placeholder="Must be at least 8 characters" [ngClass]="{ 'is-invalid': passwordSubmit && f.password.errors }">
                            <span toggle="#password" class="fa fa-eye-slash field-icon toggle-password"></span>
                            <div *ngIf="passwordSubmit && f.password.errors" class="error-mez">
                                <div *ngIf="f.password.errors.required">Please enter password</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                                 <div *ngIf="f.password.errors?.invalidPassword">
                                    Valid password must be 8 or more characters, lowercase & Uppercase letter
                                </div>
                            </div>
                            <div id="pswd_info">
                                <div class="popup-header"> Password must contain: </div>
                                <ul class="list-type">
                                    <li id="length" class="invalid sub-content"> 8 characters </li>
                                    <li id="small" class="invalid sub-content"> Lowercase letter </li>
                                    <li id="capital" class="invalid sub-content"> Uppercase letter </li>
                                </ul>
                                <p class="pwd-description"> Strong passwords are longer, avoid words or sequences, 
                                    and mix random letters, numbers and symbols.
                                </p>
                            </div>
                            <div class="error-mez">
                                {{errors['password']}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-group--margin">
                            <label class="label-inputs"> Password <b class="m-star">*</b> </label>
                            <input type="password" id="password" class="form-control form-input custom-password-eye"  formControlName="password" placeholder="Must be at least 8 letters, numbers or symbols" [ngClass]="{ 'is-invalid': passwordSubmit && f.password.errors }">
                            <span toggle="#password" class="fa fa-eye-slash field-icon toggle-password"></span>
                            <div *ngIf="passwordSubmit && f.password.errors" class="error-mez">
                                <div *ngIf="f.password.errors.required">Please enter password</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                                 <div *ngIf="f.password.errors?.invalidPassword">
                                    Valid password must be 8 or more letters, uppercase, numbers or symbols
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-group--null">
                            <label class="label-inputs"> Confirm password <b class="m-star">*</b> </label>
                            <input type="password" formControlName="confirmPassword" id="password1" class="form-control form-input custom-password-eye" [ngClass]="{ 'is-invalid': passwordSubmit && f.confirmPassword.errors }" >
                            <span toggle="#password1" class="fa fa-eye-slash field-icon toggle-password"></span>
                            <div *ngIf="passwordSubmit && f.confirmPassword.errors" class="error-mez">
                              <div *ngIf="f.confirmPassword.errors.required">Please confirm password</div>
                              <div *ngIf="f.confirmPassword.errors.mustMatch">Password must match</div>
                            </div>
                          </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" style="margin-top:10px;">
                            <input type="submit" class="btn std-button std-button--blue" value="Sign up" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" style="margin-top:10px;">
                            <small class="paragraph paragraph--small">
                                By clicking 'Sign up', you agree to menuzapp <a [routerLink]="['/page-under-progress']" title="Terms and Conditions">  Terms of Use </a> and acknowledge you have read the <a [routerLink]="['/page-under-progress']" title="Privacy Policy"> Privacy Policy.</a>
                            </small>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
<br><br>
