<div class="container h-100 m-class">
    <h1 class="form-header" style="margin-bottom:72px;">
        Search for a match in our database
    </h1>
    <p class="paragraph form-group--margin"> Menuzapp has collected the menus of many stores already. To find and claim
        your store simply search here.
        <br><br> No match? Simply add your store manually. </p>
    <div class="form-group form-group--margin">
        <label class="label-inputs"> Search for your store </label>
        <div class="auto-fill">
            <incremental-search [apiFunction]="apiFunction" [accessorFunction]="accessor"
                (onSelect)="handleSelection($event)">
                <input #itemSearch placeholder="Start typing name, location, keyword or cuisine"
                    class="form-control form-input search" />
                <ng-template #itemTemplate let-option="option">
                    <li class="auto-fill__list__item">
                        <table>
                            <tr>
                                <td valign="middle" style="padding: 16px;">
                                    <img src="assets/images/ico_search.png" >
                                </td>
                                <td style="box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);width:100%;">
                                    <div class="paragraph"> {{option.store_name}} </div>
                                    <div style="color: #808080;font-size: 14px;line-height: 20px;">{{option.store_address}}</div>
                                </td>
                            </tr>
                        </table>                       
                    </li>
                </ng-template>
                <ng-template #noItemsTemplate>
                    <li class="auto-fill__list__item">
                        <table>
                            <tr>
                                <td valign="middle" style="padding: 16px;">
                                    <img src="assets/images/ico_add_blue.png" >
                                </td>
                                <td style="box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);width:100%">
                                    <div class="paragraph" style="cursor: pointer;color:#353FA8;outline: 0;"> No match? Add store manually </div>
                                </td>
                            </tr>
                        </table>
                        <!-- No results found -->
                    </li>
                </ng-template>
            </incremental-search>
        </div>
        
    </div>
    <div class="form-group">
        <a [routerLink]="['/dashboard']"> <input type="button" class="btn std-button std-button--transparency"
                value="Cancel"> </a>
        <a [routerLink]="['/store/step1/create']"> <input type="button" class="btn std-button std-button--transparency"
                value="Add store manually" style="margin-left:16px;"></a>
    </div>
</div>
<br><br>