<div class="container h-100 m-class" *ngIf="!isAdmin ; else adminMsg">
    <h1 class="form-header" style="margin-bottom:72px;"> 
        Thanks for adding your store 
    </h1>
    <p class="paragraph" style="margin-bottom: 24px;"> Someone from our team will be in touch shortly to finalise your set up.
    <br><br>If you have any questions please contact our <a href="#" class="col-blue"> <u class="link-color">support team.</u> </a></p>   
   <input type="button" (click)="gotoMenu()" class="btn std-button std-button--primary" value="Let's start building your menu"> 
</div>
<ng-template #adminMsg>
    <div class="container h-100 m-class">
        <h1 class="form-header" style="margin-bottom:72px;"> 
            Store has been added successfully.
        </h1>
        <a routerLink="/dashboard/admin/shells"> <input type="button" class="btn std-button std-button--primary" value="Go to store shells"> </a>
    </div>
    
</ng-template>
