<h3 class="u-margin-bottom-small std-heading-3"> Modifiers 
    <img src="assets/images/ico_help.png" style="cursor:pointer" title="info"
    (click)="modalService.open(content, { centered: true });">
</h3>
<div style="text-align: right;">
    <button class="std-button std-button--primary" routerLink="./new"> <img
            src="assets/images/ico_add.png">&nbsp;&nbsp;New modifier </button>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-border table-color" style="margin-top:24px;">
                <thead>
                    <tr>
                        <th> Modifier </th>
                        <!-- <th> Display </th> -->
                        <th> Options </th>
                        <th> Used by </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngIf="modifiers.length > 0; else noModifiers">
                    <tr class="text-capitalize" *ngFor="let modifierDP of modifiers; let i = index">
                        <td [routerLink]="'./'+modifierDP.modifier.id" class="table-name" > {{capitalize(modifierDP.modifier.name)}} </td>
                        <!-- <td>{{modifier.displayText}}</td> -->
                        <td> {{modifierDP.optionsString ? modifierDP.optionsString : '-'}} </td>
                        <td> {{modifierDP.itemsString ? modifierDP.itemsString : '-'}}</td>
                        <td style="text-align: right;outline: none;">
                            <div class="dropdown">
                                <img src="assets/images/ico_overflow.png" class="dropdown-toggle"
                                    data-toggle="dropdown" title="options" style="cursor:pointer;padding:2px 6px;">
                                <ul class="dropdown-menu dropdown-edit dropdown-menu-right">
                                    <li class="herf-class" title="Edit" [routerLink]="'../'+modifierDP.modifier.id">
                                        <img src="assets/images/ico_edit.png">&nbsp;&nbsp;
                                        Edit
                                    </li>
                                    <li title="Delete" class="herf-class" (click)="modifierIndexToBeDeleted = i; modalService.open(deleteComform, { centered: true, size: 'sm' });">
                                        <img src="assets/images/ico_delete_black.png">&nbsp;&nbsp;
                                        Delete
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <ng-template #noModifiers>
                    <tbody>
                        <tr class="text-center">
                            <td colspan="5">No items have been added yet.</td>
                        </tr>
                    </tbody>
                </ng-template>
            </table>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header header-info">
        <div class="std-heading-4 std-heading-5--popheader"> Modifiers and options </div>
        <button type="button" class="close info-q" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true"><img src="assets/images/x.png"></span>
        </button>
    </div>
    <div class="modal-body" >
        <p class="paragraph">
            A modifier is a group of options such as <b>side, size</b> or <b>Sauce</b>. Once you create a
            modifier you may link it to this and any other items. Customers will be
            presented with the options at purchase.
           </p>
      
        <!-- <div class="std-heading-5">Menu</div>
        <p class="paragraph resnt-menu-overview-list__smry">Add new menus (e.g. breakfast, lunch and
            dinner).
        </p>
        <div class="std-heading-5">Categories</div>
        <p class="paragraph resnt-menu-overview-list__smry">Add categories and select which menus they
            appear
            in.
        </p>
        <div class="std-heading-5">Items</div>
        <p class="resnt-menu-overview-list__smry">Add items and select which categories they appear in.</p>
        <div class="std-heading-5">Modifier groups</div>
        <p class="paragraph resnt-menu-overview-list__smry">Add options for your items (e.g. extras, sauce
            and
            size).</p> -->
    </div>
</ng-template>

<!-- <app-modifier-selector></app-modifier-selector> -->

<ng-template #deleteComform let-deleteConf>
    <div class="modal-body text-center">
        <h4 class="std-heading-4 mb-2"> Deleting modifier group "{{modifiers[modifierIndexToBeDeleted].modifier.name}}" </h4>
      <p class="mb-2"> 
          Are you sure? 
      </p>
      <button class="std-button std-button--plane" (click)="deleteModifier(modifierIndexToBeDeleted); deleteConf.dismiss('Cross click')"> Delete </button>
      <hr style="margin: 0;">
      <button class="std-button std-button--plane" (click)="deleteConf.dismiss('Cross click')"> Cancel </button>
    </div>
</ng-template>