<form [formGroup]="ownershipDetails" (ngSubmit)="onownershipdetailSubmit()" class="row"> 
    <div class="col-md-12">
        <h3 class="std-heading-3 b32" *ngIf="activeMode" > Ownership </h3>
        <h3 class="std-heading-3 b32" style="margin-bottom:32px;" *ngIf="!activeMode" >
            <span>
                <img src="assets/images/ico_back.png" (click)="cancelForm()" style="cursor: pointer;">&nbsp;
                    Edit ownership
            </span>
        </h3>
    </div>
    <div *ngIf="activeMode; else editOption" class="col-md-12">
        <div class="float-right b32">
            <button (click)="toggleEdit()" type="button" class="btn std-button std-button--primary"> <img
                    src="assets/images/ico_edit_white.png">&nbsp; Edit Ownership </button>
        </div>
    </div>   
    <ng-template #editOption >
        <div class="col-md-12">
            <div class="float-right b32">
                <button type="button" (click)="cancelForm()" class="btn std-button std-button--transparency" style="margin-left:10px;"> Cancel </button>
                <button  type="submit" (click)="saved.emit(ownershipDetails.value)" class="btn std-button std-button--primary" style="margin-left:10px;" [disabled]="!ownershipDetails.dirty"> Save </button>
            </div>
        </div>
    </ng-template>
    <div class="row" style="padding:0 15px">
    <div class="col-md-12 col-sm-12 col-lg-6 col-xs-12">
        <div class="row">
            <div class="col-md-12">
                <h5 class="std-heading-5"> legal owner name <b class="m-star" *ngIf="!activeMode">*</b></h5>
                <div class="paragraph" *ngIf="activeMode; else ownerName"> {{ownershipDetails.value.ownerName}} </div>
                <ng-template #ownerName>
                    <input [ngClass]="{ 'is-invalid': displayError('ownerName') }" class="form-control form-input" type="text" formControlName="ownerName">
                    <div *ngIf="displayError('ownerName')" class="error-mez">
                        <div> Please enter legal owner name </div>
                    </div>
                </ng-template>
            </div>
                <div class="col-md-12">
                <h5 class="std-heading-5 t40"> legal business name <b class="m-star" *ngIf="!activeMode">*</b></h5>
                <div class="paragraph" *ngIf="activeMode; else buinessName" > {{ownershipDetails.value.buinessName}} </div>
                <ng-template #buinessName>
                    <input [ngClass]="{ 'is-invalid': displayError('buinessName') }" class="form-control form-input" type="text" formControlName="buinessName">
                    <div *ngIf="displayError('buinessName')" class="error-mez">
                        <div> Please enter legal buiness name </div>
                    </div>
                </ng-template>
            </div>
            <div class="col-md-12">
                <h5 class="std-heading-5 t40"> ABN or ACN (Australian Business or Company Number) <b class="m-star" *ngIf="!activeMode">*</b></h5>
                <div class="paragraph" *ngIf="activeMode; else registrationNumber" > {{ownershipDetails.value.registrationNumber}} </div>
                <ng-template #registrationNumber>
                    <input [ngClass]="{ 'is-invalid': displayError('registrationNumber') }" class="form-control form-input" formControlName="registrationNumber">
                    <div *ngIf="displayError('registrationNumber')" class="error-mez">
                        <div *ngIf="ownershipDetails.controls.registrationNumber.errors.required"> Please enter ABN
                            or ACN number </div>
                        <div *ngIf="ownershipDetails.controls.registrationNumber.errors.pattern"> Please enter a
                            valid ABN or ACN number </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding:0 15px">
        <div class="col-md-12">
            <h5 class="std-heading-5 t40"> Certificate of registration <b class="m-star" *ngIf="!activeMode">*</b></h5>
             <div>
                <a class="paragraph mt-2" style="margin-bottom: 15px;" target="_blank" [href]="ownershipDetails.value.legalFile"> {{fileName(ownershipDetails.value.legalFile)}} </a>
                <!-- <input [ngClass]="{ 'is-invalid': displayError('legalFile') }" class="form-control form-input" type="text" formControlName="legalFile">
                <div *ngIf="displayError('legalFile')" class="error-mez">
                    <div> Please enter account number </div>
                </div> -->
                <div *ngIf="!activeMode" class="select-file btn std-button hidden-sm mr-3 ml-4" (click)="fileUpload.emit(true)" title="Upload file"  style="border-color:none !important;background: var(--color-background-secondary);">
                    <img src="assets/images/ico_upload.png" style="margin-right:5px;"> <span style="color:var(--color-primary);">Upload file </span>
                </div>
                <button  class="btn std-button std-button--redtransparency"  *ngIf="!activeMode && ownershipDetails.value.legalFile" (click)="deleteFile.emit(true)">Delete</button>
            </div>  
        </div>
</div>
   
</form>
