<div class="row" *ngIf="mutiple_stores_array?.length == 0 && invited_stores_array?.length == 0">
    <div class="col-md-12">
        <h1 class="std-heading-1" style="margin-bottom:56px;"> Stores </h1>
        <div class="std-heading-4"> Welcome to menuzapp </div>

        <p class="paragraph" style="margin-bottom: 32px;margin-top: 32px;">
            Please add your store. You will need your proof of ownership documents ready to upload.
        </p>
      
        <div class="image-dashboard" [routerLink]="['/store/first-form']"
            style="outline: none;text-decoration: none;cursor: pointer;">
            <div class="inside-bck"> 
                <img src="assets/images/ico_add_blue.png">
                <div class="upload-text"> Add your first store </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="mutiple_stores_array?.length > 0 || invited_stores_array?.length > 0">
    <div class="col-md-12">
        <h1 class="std-heading-1" style="margin-bottom:56px;"> Stores </h1>
        <h4 class="std-heading-4" *ngIf="mutiple_stores_array?.length > 0" style="margin-bottom: 32px;"> Owned </h4>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xs-12" *ngFor="let stores of mutiple_stores_array">
                <div class="well main-form draft-card-pending" (click)="navigate(stores)" style="outline: none;"
                    title="{{ stores.storeName }}">
                    <div class="img-container-draft">
                        <img [src]="stores.storeImage">
                    </div>
                    <div class="form-padding">
                        <h4 class="std-heading-4 text-capitalize" style="height:60px;">
                            {{stores.storeName ? stores.storeName : '' }}
                        </h4>
                        <div style="margin-bottom:16px;">
                            <span class="google-rating">
                                <img src="assets/images/menu-icons/ico_social_facebook_small.png">&nbsp;<b>You</b> and 125k others
                            </span>
                            <span class="google-rating  google-rating--pad"> 4.5
                                <span> 
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                </span>
                            </span>
                        </div>
                        <div style="height:70px;">
                            <span class="google-rating google-rating--pending-color"
                            *ngIf="stores.activeStatus == 'pending'">
                            Pending approval
                            </span>
                            <span class="google-rating google-rating--approve-color" *ngIf="stores.activeStatus == 'Trading'">
                                Trading
                            </span>
                            <span class="google-rating google-rating--incomplete-color"
                            *ngIf="stores.activeStatus == 'setup' || stores.activeStatus == 'Set up'">
                                Setup
                            </span>
                            <span class="google-rating google-rating--incomplete-color"
                            *ngIf=" stores.activeStatus == 'reject'">
                               Deny by Admin
                            </span>
                            <div style="margin-top:26px;text-align: right;" *ngIf="stores.activeStatus == 'Trading'">
                                <!-- <div class="dropdown">
                                    <img src="assets/images/ico_overflow.png"  class="dropdown-toggle" data-toggle="dropdown" title="options" style="cursor:pointer;">
                                    <ul class="dropdown-menu dropdown-edit dropdown-menu-right">
                                        <li class="herf-class" title="">
                                            <img src="assets/images/ico_edit.png">&nbsp;&nbsp;
                                        Pause Trading
                                        </li>
                                        <li title="Delete" class="herf-class">
                                            <img src="assets/images/ico_delete_black.png">&nbsp;&nbsp;
                                          Stop Trading
                                        </li>
                                    </ul>
                                </div>
                                <img src="assets/images/menu-icons/ico_black_overflow.png"> -->
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="invited_stores_array?.length > 0">
            <h4 class="std-heading-4" style="margin-top:32px;margin-bottom: 32px;"> Invited To </h4>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xs-12" *ngFor="let stores of invited_stores_array">
                    <div class="well main-form draft-card-pending" (click)="navigate(stores)" style="outline: none;"
                        title="{{ stores.storeName }}">
                        <div class="img-container-draft">
                            <img [src]="stores.storeImage">
                        </div>
                        <div class="form-padding">
                            <h4 class="std-heading-4 text-capitalize" style="height:60px;">
                                {{stores.storeName ? stores.storeName : '' }}
                            </h4>
                            <div style="margin-bottom:16px;">
                                <span class="google-rating">
                                    <img src="assets/images/menu-icons/ico_social_facebook_small.png">&nbsp;<b>You</b> and 125k others
                                </span>
                                <span class="google-rating  google-rating--pad"> 4.5
                                    <span> 
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    </span>
                                </span>
                            </div>
                            <div>
                                <span class="google-rating google-rating--pending-color"
                                *ngIf="stores.activeStatus == 'pending'">
                                Pending approval
                                </span>
                                <span class="google-rating google-rating--approve-color" *ngIf="stores.activeStatus == 'approve'">
                                    Trading
                                </span>
                                <span class="google-rating google-rating--incomplete-color"
                                *ngIf="stores.activeStatus == 'setup' || stores.activeStatus == 'Set up'">
                                    Setup
                                </span>
                            </div>
                            <div style="margin-top:26px;text-align: right;">
                                <img src="assets/images/ico_chevron_right.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #sideBarLinks>
    <ul class="sidenav__list">
        <li class="sidenav__link" style="border-bottom: 1px solid var(--color-lines-primary); cursor: context-menu;">
            <span class="std-heading-5"> Stores </span>
        </li>
        <li appSideNavClick class="sidenav__link sidenav--hover color-primary"
            style="border-bottom: 1px solid var(--color-lines-primary);" [routerLink]="['/store/first-form']"
            title="Add store">
            <img class="sidenav__link__img" src="assets/images/ico_add_blue.png">
            <span> Add store </span>
        </li>
        <li appSideNavClick class="sidenav__item">
            <a class="sidenav__link sidenav--hover" [routerLink]="['/account/accountprofile']" style="text-decoration: none;" 
                routerLinkActive="sidenav__link--active"><img class="sidenav__link__img"
                    src="assets/images/ico_members.png"><span class="color-primary">
                    Account</span></a>
        </li>
    </ul>
</ng-template>
<!-- <div class="row" *ngIf="active_status">[routerLink]="'/dashboard/stores/'+stores.id"
    <div class="col-12">
        <h2 class="wl-header"> {{ storename }} </h2>
        <h3 class="wl-sub-header pb-4"> pending approvals </h3>
        <p> Before you start trading we need to confirm this is a real store. We are reviewing your proof of ownership documents and will be in touch shortly. If you have any questions please contact our <a href="#"> support team</a></p>
    </div>[routerLink]="'/dashboard/stores/'+stores.id"
</div> -->
