<div class="modal-body">
    <form protectUnsaved [changed]="shouldPreventNavigation()" loadingPlaceholder [loadStatus]="loaded"
        [formGroup]="modifierForm" (ngSubmit)="saveModifer(modifierForm.value)">
        <div class="row">
            <div class="col-md-12">
                <div class="float-right">
                    <button class="btn std-button std-button--redtransparency" type="button" *ngIf="modifierId"
                        (click)="deleteModifier()"> Delete </button>
                    <button *ngIf="modifierId" class="btn std-button std-button--transparency"
                        style="margin-left:10px;" type="button" (click)="duplicateModifier()">
                        Duplicate
                    </button>
                    <button appBtnIcon [valid]="modifierForm.valid && modifierForm.dirty" [loading]="submitting"
                        class="btn std-button-active" style="margin-left:10px;"> <span #span>Save</span> </button>
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-container">
                    <img (click)="navigateBack()" src="assets/images/ico_back.png"
                        class="input-img mt-1">
                    <input focusOnLoad type="text" class="input-border input-palceholder" formControlName="name"
                        placeholder="Enter name">
                    <span class="error-mez"
                        *ngIf="modifierForm.controls.name.touched && modifierForm.controls.name.invalid">Modifier name is
                        required.</span>
                </div>
            </div>
        </div>
       
        <!--------------------------- Rules start --------------------->
        <div class="row">
            <div class="col-md-12">
                <app-modifier-options formControlName="options" [control]="modifierForm.controls.options" #options>
                </app-modifier-options>
                <!------------------- looping add option end ------------>

            </div>
        </div>    
        <!--------------------------- Rules start --------------------->
        <div class="row">
            <div class="col-md-12">
                <h4 class="std-heading-4" style="margin-bottom: 32px;margin-top: 56px;"> Rules <img
                        src="assets/images/ico_help.png" style="cursor:pointer" title="info"    
                        (click)="modalServices.open(content, { centered: true });"></h4>
                <!-- (click)="openDisplyinfo(displaytext)"></h4> -->
            </div>
            <div class="col-md-3">
                <h5 class="std-heading-5" style="margin-bottom: 4px;"> Select minimum </h5>
                <select class="custom-select form-input" formControlName="minimum">
                    <option value=""> Select </option>
                    <option [value]="i" *ngFor="let in  of counter(modifierForm.controls.options.value?.length);let i = index">{{i}}</option>
                </select>
                <div class="error-mez"
                    *ngIf="modifierForm.controls.minimum.invalid && modifierForm.controls.minimum.touched">Plese select
                    minimum</div>
            </div>
            <div class="col-md-3">
                <h5 class="std-heading-5" style="margin-bottom: 4px;"> Select maximum </h5>
                <select class="custom-select form-input" formControlName="maximum">
                    <option value=""> Select </option>
                    <option [value]="i" *ngFor="let in of counter(modifierForm.controls.options.value?.length);let i = index">{{i}}</option>
                </select>
                <div class="error-mez"
                    *ngIf="modifierForm.controls.maximum.errors?.required && modifierForm.controls.maximum.touched">
                    Plese select maximum</div>
                <div class="error-mez"
                    *ngIf="modifierForm.controls.maximum.errors?.min && modifierForm.controls.maximum.touched">Maximum
                    should be greater or equal to minimum</div>
            </div>
            <div class="col-md-3">
                <h5 class="std-heading-5" style="margin-bottom: 4px;"> Select free </h5>
                <select class="custom-select form-input" formControlName="free">
                    <option value=""> Select </option>
                    <option [value]="i" *ngFor="let in of counter(modifierForm.controls.options.value?.length);let i = index">{{i}}</option>
                </select>
                <div class="error-mez" *ngIf="modifierForm.controls.free.errors?.required && modifierForm.controls.free.touched">
                    Plese select free
                </div>
                <div class="error-mez" *ngIf="modifierForm.controls.free.errors?.max && modifierForm.controls.free.touched">
                    Should be less or equal to maximum
                </div>
            </div>
        </div>
        <!--------------------------- Rules start end --------------------->
        <div class="row">
            <div class="col-md-12">
                <h4 class="std-heading-4" style="margin-bottom: 32px;margin-top: 56px;"> Used by </h4>
                <table class="table table-border table-color">
                    <thead>
                        <tr>
                            <th> Item </th>
                            <th> Category </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="modifierForm.controls.items.value?.length > 0;else noItems">
                        <tr class="text-capitalize" *ngFor="let item of modifierForm.controls.items.value">
                            <td class="table-name"> {{item.name}} </td>
                            <td> {{categoriesToString(item.categories)}} </td>
                            <td style="text-align: right;outline: none;">
                                <div class="dropdown">
                                    <img src="assets/images/ico_overflow.png" class="dropdown-toggle"
                                    style="cursor:pointer;padding:2px 6px;" data-toggle="dropdown" title="Options">
                                    <ul class="dropdown-menu dropdown-edit dropdown-menu-right">
                                        <li title="Delete" class="herf-class">
                                            <img src="assets/images/ico_delete_black.png">&nbsp;&nbsp;
                                            Delete
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <ng-template #noItems>
                        <tbody>
                            <tr class="text-center">
                                <td colspan="3">No items have been added yet.</td>
                            </tr>
                        </tbody>
                    </ng-template>
                </table>
            </div>
        </div>
        <!--------------------------- Rules start end --------------------->
    </form>
</div>

<!-- back save continue -->
<ng-template #back let-modal2>
    <div class="modal-body text-center">
        <h5 class="std-heading-5 mb-2"> Unsaved changes </h5>
        <p class="mb-2 paragraph">
            If you continue you will lose any unsaved progress
        </p>
        <button class="std-button std-button--plane" (click)="navigateBack(); modal2.dismiss('Cross click')"> Continue
        </button>
        <hr style="margin:0">
        <button class="std-button std-button--plane" (click)="modal2.dismiss('Cross click')"> Cancel </button>
    </div>
</ng-template>
<!-- back save continue end-->


<!-- <ng-template #popup let-editPopup>
    <form (ngSubmit)="updatePrice(valInput.value)">
        <div class="modal-header header-info">
            <div class="std-heading-5 std-heading-5--popheader"> {{selectedItems[editedItemIndex].name}} </div>
        </div>
        <div class="modal-body">
            <label class="label-inputs"> Modifier price </label>
            <div class="prefixed-input" style="margin-bottom: 64px;">
                <span class="prefixed-input__prefix">$</span>
                <input class="form-control form-input prefixed-input__input" #valInput type="number"
                    [value]="selectedItemsForm.at(editedItemIndex).value">
            </div>
            <div style="float: right;margin-bottom: 16px;">
                <button (click)="editPopup.dismiss('Cross click')" type="button"
                    class="btn std-button std-button--transparency" style="margin-right:16px">Cancel</button>
                <button (click)="updatePrice(valInput.value); editPopup.dismiss('Cross click')"
                    class="btn std-button std-button--primary">Save</button>
            </div>
        </div>
    </form>
</ng-template> -->

<!-- <ng-template #deleteComform let-deleteConf>
    <div class="modal-body text-center">
        <h4 class="std-heading-4 mb-2"> Deleting modifier group
            {{modifierForm.value.name? '"'+modifierForm.value.name+'"' : ''}} </h4>
        <p class="mb-2">
            Are you sure?
        </p>
        <button class="std-button std-button--plane" (click)="deleteModifier(); deleteConf.dismiss('Cross click')">
            Delete </button>
        <hr style="margin: 0;">
        <button class="std-button std-button--plane" (click)="deleteConf.dismiss('Cross click')"> Cancel </button>
    </div>
</ng-template> -->

<!-- <ng-template #backConfirm let-backConf>
    <div class="modal-body text-center">
        <h4 class="std-heading-4 mb-2"> Unsaved changes </h4>
        <p class="mb-2">
            If you continue you will lose any unsaved progress
        </p>
        <button class="std-button std-button--plane" (click)="navigateBack(); backConf.dismiss('Cross click')"> Continue
        </button>
        <hr style="margin: 0;">
        <button class="std-button std-button--plane" (click)="backConf.dismiss('Cross click')"> Cancel </button>
    </div>
</ng-template> -->

<!-- Info modal -->
<!-- <ng-template #itemModifier let-modal>
    <div class="modal-header header-info">
        <div class="std-heading-5 std-heading-5--popheader"> Items </div>
        <button type="button" class="close info-q" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true"><img src="assets/images/x.png"></span>
        </button>
    </div>
    <div class="modal-body">
        <p class="paragraph">
            To add items like <b>Chips</b> or <b>Salad</b> to modifier groups you must first create them
            via the <b>Items*</b> tab. Once created, search for the item here and press <b>Add</b> to add it to the
            group.
        </p>
        <p>
            Use modifier groups to offer other flexible options like <b>Sizes</b> or <b>Exclusions.</b> For example you
            may create items for <b>Small, Medium</b> and <b>Large*</b> and
            add them to a modifier group <b>Burger size</b> or <b>Coffee size.</b>
        </p>
        <p>
            To keep variations to a minimum you may also overide the default price of an
            <b>Item</b> within different groups, so for example, a <b>large</b> burger is a different price modification
            than a <b>large</b> coffee.
        </p>
        <p style="font-size: 14px;">
            *When creating an <b>item</b> you can decide whether or not to sell it on its own. This flexibility is
            handy if you want to sell extras or sides individually or for exluding items like <b>sizes</b> from
            appearing in your menu.
        </p>
    </div>
</ng-template> -->
<!-- Info modal end-->
<!-- Info modal -->
<!-- <ng-template #displaytext let-modal>
    <div class="modal-header header-info">
        <div class="std-heading-5 std-heading-5--popheader"> Custom display text </div>
        <button type="button" class="close info-q" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true"><img src="assets/images/x.png"></span>
        </button>
    </div>
    <div class="modal-body">
        <p class="paragraph">
            Here you can customise the text your customers will see when presented with
            the modifier options; e.g. "Add sides", "Go large?" or "Do you want fries with that?"
        </p>

    </div>
</ng-template> -->
<!-- Info modal end-->
<ng-template #content let-modal>
    <div class="modal-header header-info">
        <div class="std-heading-4 std-heading-5--popheader"> Rules</div>
        <button type="button" class="close info-q" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true"><img src="assets/images/x.png"></span>
        </button>
    </div>
    <div class="modal-body">
        <p class="paragraph ">
           Rules control how customers select options. Set a <b>minimum</b> above 1 to make 
            selection required. Set a  <b>maximum</b> to limit selection. Set a number for  <b>free</b> to 
            allow a few initial selections free of charge. Select options to be preselected by default.
        </p>
    </div>
</ng-template>