
<ul class="resnt-menu-top-tabs u-margin-bottom-medium" >
    <li class="resnt-menu-top-tabs__item">
        <button class="resnt-menu-top-tabs__button tabs-menu" routerLink="./accountprofile"
            routerLinkActive="resnt-menu-top-tabs__button__active">
          profile
        </button>
    </li>
    <li class="resnt-menu-top-tabs__item">
        <button class="resnt-menu-top-tabs__button tabs-menu" routerLink="./settings"
            routerLinkActive="resnt-menu-top-tabs__button__active">
    security
        </button>
    </li>
   
</ul>

<section class="resnt-menu-tabs-content" >
    <router-outlet></router-outlet>
</section> 

