
<div *ngIf= "!isLoading">
    <div *ngIf= "nextStep; else overViewDetailed">
        <h4 class="std-heading-3 u-margin-bottom-medium"> Let's start building your menu </h4>

        <p class="paragraph u-margin-bottom-medium">
            Explore the tabs above to set up your menu. You can start building in any order, however before your menu
            appears here (or in the app) you must link a <strong>menu</strong> to a <strong>category</strong> and that
            category to some <strong>items</strong>.
        </p>

        <ul class="resnt-menu-overview-list u-margin-bottom-medium">
            <li class="resnt-menu-overview-list__item">
                <img [src]="menuAvailable? 'assets/images/tick-success.png' : 'assets/images/tick-grey.png'"
                    class="resnt-menu-overview-list__icon">
                <div class="resnt-menu-overview-list__cont">
                    <div class="std-heading-5">Menus</div>
                    <p class="paragraph resnt-menu-overview-list__smry">Add new menus (e.g. breakfast, lunch and
                        dinner).
                    </p>
                </div>
            </li>
            <li class="resnt-menu-overview-list__item">
                <img [src]="categoryAvailable? 'assets/images/tick-success.png' : 'assets/images/tick-grey.png'"
                    class="resnt-menu-overview-list__icon">
                <div class="resnt-menu-overview-list__cont">
                    <div class="std-heading-5">Categories</div>
                    <p class="paragraph resnt-menu-overview-list__smry">Add categories and select which menus they
                        appear
                        in.</p>
                </div>
            </li>
            <li class="resnt-menu-overview-list__item">
                <img [src]="itemAvailable? 'assets/images/tick-success.png' : 'assets/images/tick-grey.png'"
                    class="resnt-menu-overview-list__icon">
                <div class="resnt-menu-overview-list__cont">
                    <div class="std-heading-5">Items</div>
                    <p class="resnt-menu-overview-list__smry">Add items and select which categories they appear in.</p>
                </div>
            </li>
            <li class="resnt-menu-overview-list__item">
                <img [src]="modifiersAvailable? 'assets/images/tick-success.png' : 'assets/images/tick-grey.png'"
                    class="resnt-menu-overview-list__icon">
                <div class="resnt-menu-overview-list__cont">
                    <div class="std-heading-5">Modifier groups</div>
                    <p class="paragraph resnt-menu-overview-list__smry">Add options for your items (e.g. extras, sauce
                        and
                        size).</p>
                </div>
            </li>
        </ul>

        <a *ngIf="nextStep" type="button" class="btn std-button std-button--primary" [routerLink]="nextStep.route">Add
            your first {{nextStep.stepName}}</a>
    </div>
    <ng-template #overViewDetailed>
        <app-store-menu-overview-detailed></app-store-menu-overview-detailed>
    </ng-template>
</div>
