<nav class="sidebar-shadow">
    <div class="sidebar-heading sm-block md-block" style="outline: none;cursor: pointer;height:56px;" title="Dashboard">
        <img style="widows: 169px;height:32px;" src="assets/svg/Logo.svg">
    </div>
    <ng-container #navLinks>
        <ng-container *ngIf="currentTemplate">
            <ng-container [ngTemplateOutlet]="currentTemplate.templateRef" [ngTemplateOutletContext]="currentTemplate.context">
            </ng-container>
        </ng-container>
    </ng-container>

    <div class="bottom-logout">
        <ul class="sidenav__list--bottom" style="margin-bottom: 0;">
            <li appSideNavClick class="sidenav__item ">
                <a class="sidenav__link sidenav--hover" routerLink="'./account'" routerLinkActive="router-link-active" ><img class="sidenav__link__img" src="assets/images/users.png">
                    <span class="color-primary">
                        Account</span> </a>
            </li>
            <li class="sidenav__item">
                <a class="sidenav__link sidenav--hover" (click)="logout()"><img class="sidenav__link__img"
                        src="assets/images/logout.png"><span class="color-primary">
                        Log out</span> </a>
            </li>
        </ul>
    </div>
</nav>