<nav class="nav-bars">
    <div class="row">
        <div class="col-auto mr-auto"><img src="assets/svg/Logo.svg"></div>
    </div>
</nav>

<div class=" main">
    <p class=" text-center std-32 t96">Choose a plan</p>
    <div class="container container-one">
        <div class="row row-one">
            <div class="col-md-5">
                <div class="card card-one">
                    <div class="card-header ">
                        <p class="std-heading-4">Standard</p>
                        <p class="table-colors ">Your menu on Menuzapp</p> 
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title std-heading-3">Free forever</h5>
                        <ul class="card-text">
                            <li><div class="checkmark"></div>Your menu online</li>
                            <li><div class="checkmark"></div>Appear in search</li>
                        </ul>
                        <button class="btn std-button std-button--transparency text-center mt-auto">Choose standard</button>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card card-two">
                    <div class="card-header ">
                        <p class="std-heading-4">Professional</p>  
                        <p class="table-colors ">Accept dine in & pick up orders</p>
                    </div>
                    <div class="card-body flex-column  d-flex">
                        <h5 class="card-title std-heading-3">3.3% per order</h5>
                        <ul class="card-text">
                            <li><div class="checkmark"></div>Accept online orders</li>
                            <li><div class="checkmark"></div>Unlimited orders </li>
                            <li><div class="checkmark"></div>No set up fees</li>
                            <li><div class="checkmark"></div>No monthly fees </li>
                            <li><div class="checkmark"></div>Your menu online </li>
                            <li><div class="checkmark"></div>Appear in search </li>
                        </ul>
                        <button class="btn std-button std-button--green text-center mt-auto">Choose professional</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

