<div class="container h-100 m-class">
<form [formGroup]="ownershipform" (ngSubmit)="ownerShip()">
    <h1 class="form-header" style="margin-bottom:72px;"> 
        Add proof of ownership
    </h1>
    <p class="paragraph form-group--margin"> The details provided here will help us approve your store application. You may complete this step now or press <b>save and continue </b> to complete later. </p>
   
    <div class="form-group form-group--margin">
        <label class="label-inputs"> Legal owner name <b class="m-star">*</b> </label>
        <input type="text" class="form-control form-input" formControlName="ownerName" [ngClass]="{ 'is-invalid': ownernameSubmit && f.ownerName.errors }" >
        <div *ngIf="ownernameSubmit && f.ownerName.errors" class="error-mez">
            <div *ngIf="f.ownerName.errors.required"> Please enter owner name </div>
        </div>
    </div>

    <div class="form-group form-group--margin">
        <label class="label-inputs"> Legal business name <b class="m-star">*</b> </label>
        <input type="text" class="form-control form-input" formControlName="businessName" [ngClass]="{ 'is-invalid': businessnameSubmit && f.businessName.errors }" >
        <div *ngIf="businessnameSubmit && f.businessName.errors" class="error-mez">
            <div *ngIf="f.businessName.errors.required"> Please enter business name </div>
        </div>
    </div>
    <div class="form-group form-group--margin">
        <label class="label-inputs"> ABN or ACN (Australian Business or Company Number) <b class="m-star">*</b> </label>
        <input  class="form-control form-input" formControlName="ABNnumber" [ngClass]="{ 'is-invalid': ABNnumberSubmit && f.ABNnumber.errors }"
        minlength="11" maxlength="11" >
        <div *ngIf="ABNnumberSubmit && f.ABNnumber.errors" class="error-mez">
            <div *ngIf="f.ABNnumber.errors.required"> Please enter ABN or ACN </div>
            <div *ngIf="f.ABNnumber.errors.pattern">Invalid ABN or ACN number</div>
        </div>
    </div>
    <div class="form-group form-group--margin">
        <label class="label-inputs pb-4"> Certificate of registration <b class="m-star">*</b> </label>
        <p> Please upload a copy of your certificate of registration for this business. </p>
    </div>
    <div class="form-group form-group--null">
            <div class="select-file" (click)="fileInput.click()" title="Upload file"  style="border-color:none !important;float: left;">
                <img src="assets/images/ico_upload.png" style="margin-right:5px;"> Upload file 
            </div>
            <div class="fnt-14 " *ngIf="selectedFile && selectedFileName && !legalFile">
                {{selectedFileName}} 
            </div>
            <div class="fnt-14" *ngIf="legalFile">
                File Uploaded. 
            </div>
            <div class="fnt-14" *ngIf="!selectedFile && !selectedFileName  && !legalFile">
                No file selected
            </div>                              
            
        <div *ngIf="checkownershipSubmit && (!legalFile && !selectedFile)" class="error-mez">
            Please upload a Certification of registration
        </div>
    </div>
    <div class="form-group mtop mbottom">
        <div class="checkbox">
            <label style="margin-bottom:0;">
                <input type="checkbox" style="height:auto; cursor:pointer;" formControlName="checkownership" [ngClass]="{ 'is-invalid': checkownershipSubmit && f.checkownership.errors }">
                    &nbsp;I Understand and agree to the <a href="" style="cursor: pointer;"> <u class="link-color">menuzapp terms</u> </a>
            </label>
        </div>
        <div *ngIf="checkownershipSubmit && f.checkownership.errors" class="error-mez">
            <div *ngIf="f.checkownership.errors.required"> Please accept our terms of use before proceeding. </div>
        </div>
    </div>
    <div class="form-group">
        <input type="button" class="btn std-button std-button--transparency" value="Back" (click)="backTostore()">
        <input type="submit" class="btn std-button std-button--primary" value="Save and continue" style="margin-left:16px;">
        <input *ngIf="isAdmin" type="button" class="btn std-button std-button--primary" value="Skip" style="margin-left:16px;" [routerLink]="['../../../../', 'step3', this.store_id, 'bankaccount']">
    </div>
</form>

<input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput >
<!-- [ngClass]="{ 'is-invalid': fileSubmit && f.file.errors }" -->
</div>