  .select-file {
    border: 2px solid #F2F2F2;
    border-radius: 0;
    outline: none !important;
    font-size: 16px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    margin: 0 auto;
    display: inline-block;
    padding: 14px 16px;
    background: #fff;
    color:var(--color-primary);
    cursor: pointer;
  }
  .fnt-14 {
    font-size:14px;
    padding: 17px 16px;
    margin: 0 auto;
    display: inline-block;
  }
  .select-file.is-invalid {
    border-color:none !important;
  }