<ul class="resnt-menu-top-tabs u-margin-bottom-medium" >
    <li class="resnt-menu-top-tabs__item">
        <button class="resnt-menu-top-tabs__button tabs-menu" routerLink="./members"
            routerLinkActive="resnt-menu-top-tabs__button__active">
            Members
        </button>
    </li>
    <li class="resnt-menu-top-tabs__item">
        <button class="resnt-menu-top-tabs__button tabs-menu" 
            routerLinkActive="resnt-menu-top-tabs__button__active">
            Settings
        </button>
    </li>
</ul>
<section class="resnt-menu-tabs-content">
    <router-outlet></router-outlet>
</section>
