// .btns-navbar:active{background-color: #141974;}
// .btns-navbar:hover{background-color: #141974;}
// .btns-n{background-color: #141974;}
.comman{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
}
@mixin padding($values...) {    
    @each $var in $values {
        padding: #{$var};
    }
}
//extra code
.clearfix {
    &:before, &:after { content: " "; display: table; }
    &:after { clear: both; }
  }
  
  .relative{position: relative;}
  .absolute{position: absolute;}
 
  
 
  .bottom-dotted{border-bottom-width: 4px; border-bottom-style: dotted;}
  .border-color-light-gray{ border-color: #ccc; }
  //extra
 

  
.img-one{
    border:4px solid ;
    
    height: 40px;
    width: 40px;
    left: 0px;
    top: 0px;
    border-radius: 24px;
    
}  
.container-two{
    .std-one{
        padding:96px 0px 40px 0px;
    }
   .std-32{ 
    @extend .comman;
    font-size: 32px;
    line-height: 40px;
    
}
.t136{
    padding:136px 0px 24px 0px;

}
    .t168{
        margin-bottom: 40px;
        padding-top:136px;
    }
    .row-two{
        .mb40{ padding-top: 40px;}
        .t122 { padding-top:122px;}
        .italic-comman{
            font-family: DM Sans;
            font-style: italic;
            font-weight: 500;
        }
        .man{
            height: 336px;
            width:630px;
        }
        .italic{
            @extend .italic-comman;
            font-size: 19px;
            line-height: 24px;
        }
        .italic-sm{
            @extend .italic-comman;
            font-size: 16px;
            line-height: 24px;
             color:silver;
            }
        .yellow{
                @extend .comman;
                  font-size: 44px;
                  line-height: 24px;
                  color: #FFBF42;
              }
    }
    .row-three {
        .illus{width:300px}
        .std-heading-4{padding-top:32px; margin-bottom: 8px;}
    } 
    .row-five{

        .col .btn{margin-bottom:120px;margin-top: 96px;}
        .number{
            margin-left: 130px;
           
        }
    }
    .row-four{
        margin-top: 88.17px;
        .scan{
            padding-top: 79px;
            width: 213px;
            height: 291px;
        }
        .first:after{
                content:"";
                position:absolute;
                width:19rem;
               // width:100%;
                height:0px;
                border-top:2px dashed;
              // display:table-column;
                border-color:silver;
                top:50%;
                transform:translatey(-50%);
              }
        
    }
   
}
.signup  {
    background-color: rgb(237, 239, 248);
  
    .signup-space{
        @include padding(274px 0px 274px 0px);
        .f56{
            @extend .comman;
            font-size: 56px;
            line-height: 60px;
        }
    }
    .form-space{@include padding(40px 0px 40px 56px); }
    .form-white{background-color: white;
        .inside-form-space{
            @include padding(32px 32px 16px 32px);
        p{ margin-bottom:24px;}
        }
    }
}


.footer-area{color:white;
    .mini-footer{background-color:#141974;

        .container .t80{
            padding-top: 80px;
            .social-media{margin-right:25px;}

            .google-img{display: flex;
                .google-wid{margin-right:16px;margin-bottom:80px;}
            }
            ul .paragraph--small{@extend .footer-area;}      
            .list{cursor: pointer;list-style-type: none;
                .t24{padding-top:24px;} }
            .white {@extend .footer-area;}
            
            .table-colors {@extend .footer-area;padding:40px 0px 24px 0px;}
            .all-social-media{margin-bottom:40px;}
            .t8{padding-top:8px;}
           li{margin-bottom:16px;}
        }
    }
    
}

.mini-footer-two{height: 52px;background-color: #353FA8;

    .container .row .b14{
        @extend .comman;
        font-size: 14px;
        line-height: 20px;
        padding:  16px 0px;
        }
       
}
.form-group .btn{ margin-top:8px;}





@media only screen and (max-width: 600px) {
    .signup  {
        .container{ padding:0px 8%;
            .signup-space{
                @include padding(32px 0px 10px 0px);
            .f56{  font-size: 32px;
                line-height: 40px;
            }
        }
    }
    .form-space{@include padding(0px 0px 40px 0px); }
    .form-white{
        .inside-form-space{
            @include padding(32px 16px 0px 16px);
        }
    }
}

.container-two{
    .t168{
        margin-bottom: 40px;
        padding-top:48px;
    }
    .t136{
        padding:88px 0px 24px 0px;
    
    }
    padding:0px 3%;
    .std-one{ padding:32px 0px 0px 0px; }
    .row-one{
        .std-heading-4{padding-top:32px}
    }
    
    .row-two{
        .yellow{margin-bottom: 8px;}
        .t122 { padding-top:32px;}
        .mb40{ padding-top: 32px;}
        .man{
            height: 193.5px;
            width: 344px;
       
        }
    }
    .row-three {
        .illus{height: 200.49586486816406px;
            width: 343.9978332519531px;
           }
        .std-heading-4{padding-top:16px; margin-bottom: 8px;}
        .check-label-text{margin-bottom: 40px;}
    }
    .row-five{

        .col .btn{margin-bottom:80px;margin-top: 96px;}
    }

  }
  .footer-area{
    .mini-footer{

        .container .t80{
            img.google-wid{
               
                height: 42px;
                width: 128px;
               
                
               
                }
            .logo{margin-top:72px;height: 61.439998626708984px;
                width: 128px;}
            .white{
                margin-top:32px;
            }
            padding-top: 8px;
        }
    }
}
  .mini-footer-two{height: auto; text-align: center;    }
.b14{    padding: 0px 0px ;
    margin-bottom: 0px; 
   }

   }


 
@media only screen and (min-width: 600px) {
    .signup  {
        .container{ padding:0px 18%;
            .signup-space{
                @include padding(32px 0px 10px 0px);
            .f56{  font-size: 32px;
                line-height: 40px;
            }
        }
    }
    .form-space{@include padding(0px 0px 40px 0px); }
    .form-white{
        .inside-form-space{
            @include padding(32px 16px 0px 16px);
        }
    }
}

.container-two{
    .t168{
        margin-bottom: 40px;
        padding-top:48px;
    }
    .t136{
        padding:88px 0px 24px 0px;
    
    }
    padding:0px 16%;
    .std-one{ padding:32px 0px 0px 0px; }
    .row-one{
        .std-heading-4{padding-top:16px}
    }
    
    .row-two{
        .yellow{margin-bottom: 8px;}
        .t122 { padding-top:32px;}
        .mb40{ padding-top: 32px;}
        .man{
            height: 193.5px;
            width: 344px;
         
            
        }
    }
    .row-three {
        .illus{height: 200px;
            width: 344px;
           
            
            
            }
        .std-heading-4{padding-top:16px; margin-bottom: 8px;}
        .check-label-text{margin-bottom: 40px;}
    }
    .row-five{

        .col .btn{margin-bottom:80px;margin-top: 96px;}
    }

  }
  .footer-area{
    .mini-footer{

        .container .t80{
            img.google-wid{
               
                height: 42px;
                width: 128px;
               
                
               
                }
            .logo{margin-top:72px;height: 61.439998626708984px;
                width: 128px;}
            .white{
                margin-top:32px;
            }
            padding-top: 8px;
        }
    }
}
  .mini-footer-two{height: auto; text-align: center;    }
.b14{    padding: 0px 0px ;
    margin-bottom: 0px; 
   }

   }
@media only screen and (min-width: 768px) {
     .signup  {
        .container{ padding:0px 8%;
            .signup-space{
                @include padding(32px 0px 10px 0px);
            .f56{  
                max-width: 90%;
            }
        }
    }
    .form-space{@include padding(0px 0px 40px 0px); }
    .form-white{
        .inside-form-space{
            @include padding(32px 16px 0px 16px);
        }
    }
}
  .container-two{
    .t136{
        padding:88px 0px 24px 0px;
    
    }
    .t168{
        margin-bottom: 40px;
        padding-top:48px;
    }
    padding:0px 6%;
    .std-one{ padding:32px 0px 0px 0px; }
    .row-one{
        .std-heading-4{padding-top:16px}
    }
    .row-two{
        .yellow{margin-bottom: 8px;}
        .t122 { padding-top:32px;}
        .mb40{ padding-top: 32px;}
        .man{
            height: 193.5px;
            width: 512px;
           
        }
    }
    .row-three {
        .illus{height: 200px;
            width: auto;
            
            }
        .std-heading-4{padding-top:16px; margin-bottom: 8px;}
        .check-label-text{margin-bottom: 40px;}
    }
    .row-five{

        .col .btn{margin-bottom:80px;margin-top: 96px;}
    }
  }
  .footer-area{
    .mini-footer{

        .container .t80{
            img.google-wid{
               
                width:192px;
                height: 64px;
               
                }
            .logo{margin-top:72px;height: 61.439998626708984px;
                width: 128px;}
            .white{
                margin-top:32px;
            }
            padding-top: 8px;
        }
    }
}
.mini-footer-two{height: auto; text-align: center;    }
.b14{    padding: 0px 0px ;
    margin-bottom: 0px; }
   }
@media only screen and (min-width: 992px) {
    .mini-footer-two{height: 52px; text-align: initial;}
    .b14{    padding: 16px 0px ;
        margin-bottom: 0px;}
 .container-two{padding:0px 4%;}
    .signup  {
        .container{ padding:0px 4%;
            .signup-space{
                @include padding(214px 0px 274px 0px);
            .f56{ max-width:60%;
                font-size: 56px;
                line-height: 60px;
            }
        }
    }
    .form-space{@include padding(40px 0px 40px 0px); }
    .form-white{
        .inside-form-space{
            @include padding(32px 32px 16px 32px);
        }
    }
}
  .container-two{
    .t168{
        margin-bottom: 40px;
        padding-top:136px;
    }
    .t136{
        padding:136px 0px 24px 0px;
    
    }
    .row-one{
        .std-heading-4{padding-top:0px}
    }
    .row-three {
        .illus{height: 240px;
            width: 272px;
            
            }
            .check-label-text{margin-bottom: 16px;}
      .std-heading-4{padding-top:32px; margin-bottom: 8px;}
    }
    .std-one{ padding:96px 0px 40px 0px; }
    .row-two{
        .yellow{margin-bottom: 16px;}
        .t122 { padding-top:122px;}
        .mb40{ padding-top: 40px;}
        .man{
            height: 336px;
            width: 498.6700439453125px;
        }
    }
    .row-five{

        .col .btn{margin-bottom:120px;margin-top: 96px;}
    }
  }
  .footer-area{
    .mini-footer{

        .container .t80{
            img.google-wid{
               
                width:192px;
                height: 144px;
               
                }
            .logo{margin-top:0px;
                height: 96px;
                width: 200px;
            }
            .white{
                margin-top:0px;
            }
            padding-top: 80px;
        }
    }

}

}
@media only screen and (min-width: 1200px) {
    .signup  {
        .container { padding:0px 4%;
        .signup-space{
            @include padding(244px 0px 274px 0px);
            .f56{ max-width:90%; }
        }
    }
    }
    .container-two{
        .row-three {
            .illus{height: 240px;
                width: 341.3333435058594px;
           
                }
         //   .std-heading-4{padding-top:32px; margin-bottom: 8px;}
        }
        .row-two{
            .man{
                height: auto;
               // height: 336px;
               // width: 888px;
               width:630px;
            }
        }
      }
}
@media only screen and (min-width: 1399px) {
    .container-two{padding:0px 0%;}
    .signup  {
        .container { padding:0px 0%;
         .signup-space{
            @include padding(274px 0px 274px 0px);
            .f56{ max-width:100%;
                font-size: 56px;
                line-height: 60px;
            }
        }
    }
}
.row-three {
    .illus{height: 240px;
        width: 407.6666564941406px;
        
        
   
        }
 //   .std-heading-4{padding-top:32px; margin-bottom: 8px;}
}
}